* {
  font-size: 12px;
  font-family: "JetBrains Mono,JetBrains Mono ExtraBold:style=Regular";
  border-radius: 12px;
 

}

window#waybar {
  background: #182d30;

}

#battery {
  margin: 3px 0px 3px 0px;
  background: #182d30;
  padding: 5px;
  color: #fdfdfd;
}

#custom-quit {
  margin: 3px 3px 3px 0px;
  padding: 5px 7px 5px 5px;
  background: #182d30;
  color: #FFF;
}

#clock {
  margin: 3px 0px 3px 3px;
  padding: 5px;
  color: #FFF;
  background: #182d30;
  color: #fdfdfd;
}

#custom-keyboard {
  background: #182d30;
  color: #c5c8c6;
  padding: 5px 5px 5px 7px;
  margin: 3px 0px 3px 3px;
}

#custom-media {
  margin: 3px;
  padding: 5px 7px 5px 7px;
  border-radius: 10px;
  background: #182d30;
  color: #fdfdfd;
}
#pulseaudio {
  margin: 3px 3px 3px 0px;
  padding: 5px 7px 5px 5px;
  background: #182d30;
  color: #fdfdfd;
}

#network {
  background: #182d30;
  color: #fdfdfd;
  margin: 3px 0px 3px 0px;
  padding: 5px;
}
#taskbar{
  background: #182d30;
  color: #fdfdfd;

}
#keyboard-state{
  background: #182d30;
  color: #fdfdfd;
  margin: 3px 3px 3px 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#temperature{
  background: #182d30;
  color: #fdfdfd;
  padding-left: 5px;
  padding-right: 5px;
  margin: 3px 3px 3px 0px;


}
#backlight{
  background: #182d30;
  color: #fdfdfd;
  margin: 3px 3px 3px 0px;
  padding-left: 5px;
  padding-right: 5px;

}
#workspaces{
  background: #182d30;
  color: #fdfdfd;
}