/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #3a3c49FF;
    background-alt: #3a3c49FF;
    foreground:     #fdfdfdFF;
    selected:       #4e94e2FF;
    active:         #4e94e2FF;
    urgent:         #fce965FF;
    icons:          #4e94e2FF;
    prompt:          #4e94e2FF;
    mode-switcher-color: #4e94e2FF;
}
