/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #223F43FF;
    background-alt: #201C24FF;
    foreground:     #EFDFBDFF;
    selected:       #095081FF;
    active:         #1394EFFF;
    urgent:         #AB1718FF;
}
