/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #182d30FF;
    background-alt: #182d30FF;
    foreground:     #fdfdfdFF;
    selected:       #37a538FF;
    active:         #37a538FF;
    urgent:         #fce965FF;
    icons:          #37a538FF;
}
