/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Fonts
 *
 **/

* {
    //font: "Font Awesome 6 Free,Font Awesome 6 Free Regular:style=Regular";
    
font: "Hack:style=Regular 10";
//font: "JetBrains Mono Nerd Font 10";
    //font: "Font Awesome 6 Brands,Font Awesome 6 Brands Regular:style=Regular";
    //font: "Font Awesome 6 Free,Font Awesome 6 Free Solid:style=Solid";
    //font: "Awesome v4 Compatibility,Font Awesome v4 Compatibility Regular:style=Regular";
}
